<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<div>
    <form id="receivers2" th:action="@{/user/alert}" th:object="${alert}" method="post">
        <table>
            <tr><td>Details : </td><td><textarea th:field="*{details}" rows="8" cols="60"></textarea></td></tr>
        </table>
        <input th:field="*{latitude}" hidden="hidden" value="getLat()"/>
        <input th:field="*{longitude}" hidden="hidden" value="getLong()"/>

        <input class="btn btn-default ld-ext-right" id="saveAlertButton" type="submit" value="Opslaan"/>
    </form>

</div>
</body>
</html>
<script th:inline="javascript">

    /*<![CDATA[*/

    var x = document.getElementById("demo");

    function getLat() {
        if (navigator.geolocation) {
            return navigator.geolocation.getCurrentPosition().coords.latitude;
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function getLong() {
        if (navigator.geolocation) {
            return navigator.geolocation.getCurrentPosition().coords.longitude;
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    /*]]>*/
</script>